@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Upload</title>
</head>
<body>
	@ViewBag.FileName
	<br />
	<img src="@ViewBag.ImageUrl" alt="" />
</body>
</html>
